* {
    margin: 0;
}

body {
    background-image: url("images/cashcat-background.jpg");
    font-family: 'ABeeZee', sans-serif;
    background-repeat: repeat;
    background-attachment: fixed;



}

a {
    text-decoration: none
}

/* ***************** Header ***************** */

header {
    position: fixed;

    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: rgba(5, 3, 4, 0.8);
}

h1 {
    text-align: center;
    margin: 2px auto;
    color: #2a938e;
    font-family: 'Chakra Petch', sans-serif;
}

.main-nav {
    background: #14a098;
    font-size: 1.2em;
    color: white;
    display: flex;
    font-family: 'Chakra Petch', sans-serif;
    justify-content: center;

}

.main-nav a {
    color: white;
    padding: 6px 40px;
}

.main-nav a:hover,
.active {
    background: #17e9e0;
}

/* ***************** Main ***************** */



.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

ul {
    list-style: none;
    padding: 0;
}


section {
    color: aliceblue;
    flex: 4;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}

main,
img {
    width: 100%;
}

.big-image {
    width: 100%;
}

.catinfo img {
    margin-bottom: 15px;
}

.catinfo img:hover,
active {
    transform: scale(1.05);
    box-shadow: 5px 5px 2px rgba(110, 250, 200, 0.3);
}

.catinfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    padding: 20px 0;
    color: #cccbcb;
    border-bottom: solid #5f6062;
    justify-content: center;
    letter-spacing: .01rem;
    font-size: .95em;
    font-weight: 400;
    line-height: 1.5em;
}


.text {
    color: #5f6062;
    text-align: justify;
    flex: 4;
    letter-spacing: .01rem;
    font-size: .95em;
    font-weight: 400;
    line-height: 1.5em;
}

.buttons {
    background-color: #e18800;
    /* #e18800 */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 150px;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.buttons:hover,
.active {
    background-color: #eeaf37;
}

/* ***************** Contact page***************** */
h4 {
    margin: 30px 0;
}

.contact-section {

    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

.message-form {
    border-left: 1px solid #bbbbbb;
}

.register-form,
.message-form {
    width: 49.5%;
    margin: 100px 0;
}

fieldset {
    display: inline-flex;
    text-decoration: underline;
    color: #cae3cc;
    font-size: 14px;
    border: dotted 1.5px;
}

input[type="text"],
input[type="color"],

textarea,
select {
    background-color: #f7ffef;
    font-size: 1em;
    padding: 0.2em;
    border: 2px solid #2a938e;
    border-radius: 5px;
    width: 400px;
    margin: 20px;
}

input[type=text]:focus {
    border: 3px solid #35e5b5;
}

.submit-form {
    font-size: 1.1em;
    padding: 0.5em 1em;
    background: #e18800;
    color: #fffcf4;
    border-radius: 5px;
    border: 0;
    margin: 20px;
    width: 420px;
}

.submit-form:hover {
    background-color: #eeaf37;
}

.forgotpassword {
    font-size: 0.8em;
    text-decoration: underline;
    color: #bef6de;
}

.signup {
    margin: 20px 0 0 0;
    font-size: 0.9em;
    color: #bef6de;
}

/* ***************** Footer ***************** */
footer {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px 0 50px 0;
    background-color: rgba(5, 3, 4, 0.6);
}

footer a {
    color: #92b7bf;
}

footer p {
    color: #808782;
    font-size: 0.9em;
}

.subscription {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}

.subscrib-email {
    color: #92b7bf;
    margin: 0 0 0 100px;
}

h5 {
    font-size: 18px;
    color: #92b7bf;
    margin: 10px 0;
}

input[type=email] {
    width: 200px;
    height: 20px;
}

.submit-button {
    font-size: 1.1em;
    padding: 0.5em 1em;
    background: #2a938e;
    color: #fffcf4;
    border-radius: 5px;
    border: 0;
    margin: 25px 25px 0 0;
    width: 100px;
}

.submit-button:hover {
    background: darkseagreen;
}

hr {
    margin: 15px;
    border: solid #8590a7 1px;
}

.footerinfo {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-evenly;
}


.footerinfo a {
    border-right: dotted #8590a7 1px;
    flex: 1;
}


.footerinfo a:hover {
    text-decoration: underline;
}



.payment {
    margin: 5px;
    display: inline-block;
    width: 100%;
}

.payment img {
    width: 40px;
    height: 27px;
    margin: 5px;
}

.contactus {
    display: inline-block;
    font-size: 15px;
    color: aliceblue;
}

.contactus i {
    font-size: 25px;
    margin-bottom: 15px;
}

.copyright {
    margin-top: 20px;
}
