* {
    margin: 0;
}

/* ***************** Header ***************** */

.logo {
    display: flex;
    justify-content: center;
}




.main-nav {
    background: #990;
    font-size: 1.5em;
    color: white;
    display: flex;
    flex: 2;





    justify-content: center;
}

.main-nav a {
    color: white;
    padding: 20px 40px;
}

.main-nav a:hover,
.active {
    background: #900;
}

/* ***************** Main ***************** */

.wraper {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;

    justify-content: center;

}

.main-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

aside {
    flex: 1;
    background: rgb(78, 169, 230);
}

section {
    background: blanchedalmond;
    flex: 4;
}

img {
    width: 100%;
}

.big-image {
    width: 100%;
}

.smalls-wrapper {
    width: 100%;
    display: flex;
}

.small-image {
    flex: 1;
}

/* ***************** Footer ***************** */
footer {}
